//- Data to be rendered in the email template
//- + fullName: The user's full name
//- + email: The user's email address
//- + newPassword: The new temporary password for the user

extends layouts/email-layout

block content
  .greeting
    | Hello #[strong #{fullName}],

  p
    | Your password has been successfully reset. Here is your new temporary password:

  .info-box
    h3 🔑 New Password Information
    
    .info-item
      span.info-label Email:
      span.info-value #{email}
    
    .info-item
      span.info-label New Password:
      span.info-value.password-highlight #{newPassword}

  .warning-box
    strong 🔒 Security Notice:
    br
    | Please change this temporary password immediately after logging in to ensure the security of your account.

  .success-box
    strong ✅ Next Steps:
    br
    | 1. Log in using your email and the new password above
    br
    | 2. Navigate to your profile settings
    br
    | 3. Change your password to something memorable and secure
